.SignInWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.SignInForm {
    background: linear-gradient(175.36deg, rgba(18, 128, 255, 0.48) -3.07%, rgba(255, 255, 255, 0.192) 58.14%, rgba(18, 128, 255, 0.48) 92.66%);
    flex: 1; 
    padding:254px 465px 0px 54px ;
}

.FirstBlock {
    position: relative;
    flex: 1; 
    background: linear-gradient(107.8deg, #1280FF -62.76%, #0056C5 -22.4%, #0054B6 32.19%, #0025B4 71.3%, #000B94 100.19%);

}

.firstBlockLogo {
    margin-left: 50vh;
    margin-top: 166px;
    margin-right: 57px;
    width: 460px;
    height: 115px;
    
}

.eyeLog {
    position: absolute;
    cursor: pointer;
    left: 73.5%; 
    top: 44.5%; 
}

.eyePass {
    position: absolute;
    cursor: pointer;
    left:73.5%;
    top: 53.5%;

}

.glare {
    top: 0;
    right: -155px;
    position: absolute;
    pointer-events: none;   
}


.backArrow {
    cursor: pointer;
    width: 32.49px;
    height: 32.49px;
    top: 149.75px;
    left: 997.35px;
    position: absolute;
    
}

.error {
    color: red; 
    font-size: 0.875rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 6.66px;
    margin-top: 10px;
}


.SignInFormTitle {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color:#0054B6;
    margin-bottom: 4rem;
}

.SignInForm {
    text-align: center;
}

.SignInInput {
    width: 100%; 
    max-width: 482px;
    height: 60px;
    border: none;
    border-radius: 6px;
    margin-top: 24px;
    box-shadow: -4px 12px 54px -12px rgba(34, 60, 80, 0.2);
    padding-left: 20px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 300;
}




.SignInInput::placeholder {
    color: #1280FF99;
    font-family: Montserrat;
    font-size: 1rem;
}

 .SignInInput:focus {
    outline: none;
    color: #1280FF99;
}

.SignInInput:not(:placeholder-shown) {
    color: #1280FF99;
}

.SignInForm p {
    margin-top: 5vh;
    color: #1280FF99;
}


.SignInFormBtn {
    width: 100%;
    max-width: 204px;
    height: 69px;
    background: linear-gradient(180deg, #1280FF 30.73%, #0B4D99 245.17%);
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 48px;
    box-shadow: 0px 3.8px 3.8px 0px #00000040;
    border-radius: 7.61px;
}

.SvgContainer {
    position: absolute;
    top: 0;
    left: 199.71px;
    opacity: 0.3px;
    
}

.PicComp {
    position: absolute;
    left: 323px;
    top: 323px;
     
}

.ForgotPassword {
    text-decoration: none;
}

.SignInFormSocialNav {
    display: flex;
    gap: 14px;
    margin: 30px 0px 355px 170px;
}


@media (max-width: 768px) {
    .firstBlockLogo {
        margin-left: auto;
        margin-right: auto;
    }

    .SignInFormTitle {
        font-size: 1.5rem;
    }
    
    .backArrow {
        margin: 10px auto;
    }
    
    input, button {
        width: 90%;
    }

    input {
        height: 50px;
    }
}