.p {
    color: #1280FF;
}

.AdminDashBoardWrapper{
    width: 708.14px;
    height: 535.25px;
    background: #fff;
}

.AdminDashBoardPossibilities {
    display: flex;
    gap: 45px;
}

.AdminDashBoardForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 484px;
    height: 236px;
    margin: 73.18px 108px;
}

.eyePass {
    position: absolute;
    top: 489px;
    right: 620px;
    cursor: pointer;
}

.eyePassManager {
    position: absolute;
    top: 565px;
    right: 620px;
    cursor: pointer;
}

.AdminDashBoardForm input {
    min-height: 52px;
    border-radius: 8.02px;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.85px;
    color:#1280FF70; 
    padding-left: 20.6px;  
    border: 2px solid;
}

.AdminDashBoardForm input::placeholder {
    font-size: 13px;
    font-weight: 500;
    line-height: 15.85px;
    color:#1280FF70; 
 
}




.AdminDashBoardSwitches {
    cursor: pointer;
    color: #94B1D3; 
    position: relative; 
    font-size: 16.57px;
    font-weight: 700;
    line-height: 17.89px;
    transition: color 0.3s ease; 
    padding-top: 16.63px;
    left: 17.64px;
    min-height: 49.81px;
}

.AdminDashBoardSwitches.active {
    color: #1280FF; 
}

.active::before {
    content: ""; 
    position: absolute; 
    top: 12.63px; 
    height: 2px; 
    width: 54.38px; 
    background-color: #1280FF; 
    border-radius: 1px; 
    transition: width 0.3s ease, left 0.3s ease; 
}

.AdminDashBoardSwitches:not(.active)::before {
    content: ""; 
    position: absolute; 
    top: 12.63px; 
    height: 2px; 
    width: 0;
    background-color: #1280FF;
    border-radius: 1px; 
    transition: width 0.3s ease; 
}

.FIO {
    position: absolute;
    top: 316px;
    left: 860px;
    background-color: #fff;
    padding: 0px 10px;
    font-size: 12.03px;
    font-weight: 500;
    color:#1280FF99;
}

.login {
    position: absolute;
    top: 392px;
    left: 860px;
    background-color: #fff;
    padding: 0px 6px;
    font-size: 12.03px;
    font-weight: 500;
    color:#1280FF99;

}

.password {
    position: absolute;
    top: 469px;
    left: 860px;
    background-color: #fff;
    padding: 0px 3px;
    font-size: 12.03px;
    font-weight: 500;
    color:#1280FF99;
}
.password2 {
    position: absolute;
    top: 545px;
    left: 860px;
    background-color: #fff;
    padding: 0px 3px;
    font-size: 12.03px;
    font-weight: 500;
    color:#1280FF99;
}

.tg {
    position: absolute;
    top: 469px;
    left: 860px;
    background-color: #fff;
    padding: 0px 3px;
    font-size: 12.03px;
    font-weight: 500;
    color:#1280FF99;
}

.AdminDashBoardBtn {
    width: 484.27px;
    min-height: 52px;
    border-radius: 46.72px;
    outline: none;
    border: none;
    background: #1280FF;
    box-shadow: 0px 9.34px 18.97px 0px #1280FF80;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: #fff; 
    cursor: pointer;
}

.disabledButton {
    width: 484.27px;
    min-height: 52px;
    border-radius: 46.72px;
    outline: none;
    border: none;
    background: #C9CCD0;
    box-shadow: 0px 9.34px 18.97px 0px #1280FF80;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: #fff; 
}

.AdminDashBoardSwitch {
    display: flex;
    margin-top: 27px;
}

.AdminDashBoardSwitch img {
    margin-left: 48px;
}

.AdminDashBoardSuperAdmin {
    border-top: 6px;
    width: 353px;
    background-color: #F0F0F0;
    color: #99B0CB;
    height: 31px;
    opacity: 0px;
    border: 1px solid #99B0CB ;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.5s;
    border-left: none;

}

.AdminDashBoardListTable li {
    display: flex;
}

.AdminDashBoardListTable div {
    position: absolute;
    left: 60%;
    gap: 13.56px;
    display: flex;

}


.AdminDashBoardListTable button {
    width: 115px;
    height: 24px;
    border-radius: 6px;
    background-color: #2D87EF;
    color: #fff;
    border: none;
    font-size: 9.08px;
    font-weight: 700;
    line-height: 12.97px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.AdminDashBoardListTable button img {
    margin-left: 7px;
}

.AdminDashBoardAccMng { 
    border-top: 6px;
    background-color: #F0F0F0;
    color: #99B0CB;
    width: 356px;
    height: 31px;
    opacity: 0px;
    border: 1px solid #BBDBFE ;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.5s;
    border-right: none;

}

.switchActive {
    color: #3492FE;
    background-color: #ffffff;
    border-bottom: none;
    border-left: none;
}

.AdminDashBoardListTable {
    margin: 27px 22px 32px 22px ;
    width: 671px;
    height: 281px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.AdminDashBoardListTable li {
    color: #7C7C7D;
    list-style-type: none;
    margin-bottom: 32px;

}

.AdminDashBoardListTable li:hover {

}

.AdminDashBoardListTable li p {
    margin-left: 5px;
}



